/* ПОДКЛЮЧЕНИЕ ШРИФТОВ */

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* ОБЩИЕ СТИЛИ */

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #565c66;
  background-color: #feafc3;
}

.page-container {
  display: flex;
  flex-direction: column;
  max-width: 1366px;
  padding: 0 98px;
  margin: 0 auto;
}

/* ШАПКА */

.page-header {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
  align-items: center;
}

.logo-link {
  text-decoration: none;
}

.page-header-container {
  display: flex;
  gap: 16px;
}

.page-navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.page-navigation-link {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  line-height: 20px;
  color: #2d3440;
}

.page-phone {
  text-decoration: none;
  font-weight: 700;
  color: #2d3440;
}

.search-button {
  border: none;
  cursor: pointer;
  background: rgba(252, 252, 252, 0.3);
  border-radius: 27px;
  width: 32px;
  height: 32px;

}
