/* ПОДКЛЮЧЕНИЕ ШРИФТОВ */

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* ОБЩИЕ СТИЛИ */

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #565c66;
  background-color: #feafc3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  display: flex;
  flex-direction: column;
  max-width: 1366px;
  padding: 0 98px;
  margin: 0 auto;
}

.page-main {
  flex-grow: 1;
}

.popup {
  display: none;
}

.title {
  margin: 0;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  color: #2d3440;
}

/* ШАПКА */

.page-header {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
  align-items: center;
}

.logo-link {
  text-decoration: none;
}

.logo {
  display: block;
}

.page-header-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.page-navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.page-navigation-link {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  line-height: 20px;
  color: #2d3440;
  transition: background-color .3s ease, border-radius .3s ease;
}

.page-navigation-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
  border-radius: 30px;
}

.page-navigation-link:active {
  background-color: #fcfcfc;
  border-radius: 30px;
}

.page-navigation-link:focus-visible {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2d3440;
  outline-offset: -2px;
  border-radius: 30px;
}

.catalog-button {
  cursor: pointer;
  padding: 8px 38px 8px 16px;
  border: none;
  background-color: transparent;
  display: block;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #2d3440;
  background-image: url("../images/icons/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 10px center;
}

.page-phone {
  text-decoration: none;
  font-weight: 700;
  color: #2d3440;
}

.search {
  position: relative;
}

.search:focus-within .search-form {
  display: block;
}

.search-button {
  display: block;
  border: none;
  padding: 0;
  cursor: pointer;
  background: rgba(252, 252, 252, 0.3);
  border-radius: 27px;
  width: 32px;
  height: 32px;
  background-image: url("../images/icons/search.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.search-form {
  position: absolute;
  top: 40px;
  right: 0;
  width: 356px;
  padding: 24px 16px;
  background-color: #fcfcfc;
  border-radius: 4px;
  filter: drop-shadow(0 8px 16px rgba(45, 52, 64, 0.12));
}

.search-input {
  width: 100%;
  padding: 14px 16px;
  border: 1px solid #b9b9b9;
  border-radius: 4px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #2d3440;
}

.search-input::placeholder {
  color: #b9b9b9;
}

.login-button {
  border: none;
  cursor: pointer;
  padding: 6px 16px 6px 38px;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 30px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  background-image: url("../images/icons/login.svg");
  background-repeat: no-repeat;
  background-position: left 16px center;
}

.cart-button {
  border: none;
  cursor: pointer;
  padding: 6px 16px 6px 38px;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 30px;
  background-image: url("../images/icons/cart.svg");
  background-repeat: no-repeat;
  background-position: left 16px center;
}

.cart-button::before {
  content: attr(data-counter);
  display: block;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
}

/* МЭЙН */

.index-main {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

/* ПРОМО БЛОК */

.promo-title {
  margin: 0 auto 55px;
  max-width: 450px;
}

.promo-cards {
  display: grid;
  grid-template-columns: repeat(2, 570px);
  gap: 30px;
}

.promo-card {
  background-color: #ff7799;
  border-radius: 16px;
  padding: 36px 230px 36px 36px;
  background-repeat: no-repeat;
  background-position: right center;
}

.promo-card-raspberry {
  background-image: url("../images/promo/raspberry.png");

}

.promo-card-marshmallow {
  background-image: url("../images/promo/marshmallow.png");
}

.promo-card-title {
  margin: 0 0 28px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2d3440;
}

.promo-card-description {
  color: #2d3440;
  margin: 0 0 28px;
}

/* ПОПУЛЯРНОЕ */

.popular-title {
  margin: 0 auto 56px;
  max-width: 550px;
}

/* ПРЕИМУЩЕСТВА */

.advantages {
  background-image: url("../images/advantages/waffle.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 16px;
  padding: 24px;
}

.background-container {
  border-radius: 16px;
  background-color: #ffffff;
  padding: 56px 40px;
}

.advantages-title {
  margin-bottom: 56px;
}

.advantages-cards {
  display: grid;
  grid-template-columns: repeat(2, 505px);
  gap: 40px 32px;
}

.advantages-card {
  padding-left: 64px;
  background-repeat: no-repeat;
  background-position: left top;
}

.advatanges-card-icecream {
  background-image: url("../images/advantages/ice-cream.svg");
}

.advatanges-card-quality {
  background-image: url("../images/advantages/leaf.svg");
}

.advantages-card-farm {
  background-image: url("../images/advantages/farm.svg");
}

.advantages-card-temperature {
  background-image: url("../images/advantages/temperature.svg");
}

.advantages-card-description {
  margin: 0;
}
