/* ПОДКЛЮЧЕНИЕ ШРИФТОВ */

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* ОБЩИЕ СТИЛИ */

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #565c66;
  background-color: #feafc3;
  transition: background-color .3s ease;
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 1366px;
  padding: 0 98px;
  margin: 0 auto;
}

.page-main {
  flex-grow: 1;
}

.popup {
  display: none;
}

.title {
  margin: 0;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2d3440;
}

.main-button {
  display: inline-block;
  cursor: pointer;
  border: none;
  padding: 12px 32px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #2d3440;
  background-color: #fcfcfc;
  border-radius: 26px;
  text-decoration: none;
  outline: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  transition: all .2s ease;
}

.main-button:hover {
  background-color: rgba(252, 252, 252, 0.4);
  outline-color: #fcfcfc;
}

.main-button:active {
  background-color: #fcfcfc;
  outline: 2px solid #2d3440;
}

.main-button:focus-visible {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2d3440;
  outline-offset: -2px;
}

.main-button:disabled {
  background-color: #e7e7e7;
  outline-color: rgba(252, 252, 252, 0.4);
  font-weight: 400;
  color: #b9b9b9;
  pointer-events: none;
}

.button {
  display: inline-block;
  cursor: pointer;
  border: none;
  padding: 12px 32px;
  background-color: #ff2f64;
  outline: 4px solid rgba(255, 47, 100, 0.3);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  color: #fcfcfc;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  transition: all .2s ease;
}

.button:hover {
  background-color: rgba(252, 252, 252, 0.3);
  outline-color: #ff2f64;
  color: #2d3440;
}

.button:active {
  background-color: #feafc3;
  outline: 2px solid #2d3440;
  color: #fcfcfc;
}

.button:focus-visible {
  background-color: #ff2f64;
  outline: 2px solid #2d3440;
}

.button:disabled {
  background-color: #b9b9b9;
  outline: 4px solid rgba(185, 185, 185, 0.3);
  color: #565c66;
  font-weight: 400;
  pointer-events: none;
  box-shadow: none;
}

.popup-container {
  position: relative;
}

.popup {
  filter: drop-shadow(0 15px 40px rgba(45, 52, 64, 0.12));
  background-color: #fcfcfc;
  border-radius: 4px;
  position: absolute;
  z-index: 1;
}

.popup-container:focus-within .popup {
  display: block;
}

.main-input {
  border: 1px solid #b9b9b9;
  border-radius: 4px;
  background-color: #ffffff;
  padding: 13px 15px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #2d3440;
  transition: border-color .2s ease;
}

.main-input::placeholder {
  color: #b9b9b9;
}

.main-input:hover {
  border-color: #2d3440;
}

.main-input:focus {
  outline: 2px solid #2d3440;
  outline-offset: -1px;
}

.main-input:disabled {
  color: rgba(45, 52, 64, 0.65);
  background-color: #e7e7e7;
  border-color: #b9b9b9;
  pointer-events: none;
}

/* ШАПКА */

.page-header {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
  align-items: center;
}

.logo-link {
  text-decoration: none;
}

.logo {
  display: block;
}

.page-navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.page-navigation-link {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  line-height: 20px;
  color: #2d3440;
  transition: background-color .3s ease, border-radius .3s ease;
}

.page-navigation-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
  border-radius: 30px;
}

.page-navigation-link:active {
  background-color: #fcfcfc;
  border-radius: 30px;
}

.page-navigation-link:focus-visible {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2d3440;
  outline-offset: -2px;
  border-radius: 30px;
}

.catalog {
  margin-left: 16px;
}

.catalog-button {
  cursor: pointer;
  padding: 8px 38px 8px 16px;
  border: none;
  background-color: transparent;
  display: block;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #2d3440;
  background-image: url("../images/icons/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 10px center;
}

.catalog-menu {
  left: 0;
  top: calc(100% + 8px);
  width: 135px;
  padding: 8px 0;
}

.catalog-menu-link {
  display: block;
  text-decoration: none;
  width: 100%;
  padding: 6px 6px 6px 16px;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  transition: background-color .3s ease;
}

.catalog-menu-link-active {
  background-color: #ff4a78;
  color: #fcfcfc;
}

.catalog-menu-link:hover {
  background-color: #ffcbd8;
}

.catalog-menu-link:active {
  background-color: #ff7799;
}

.page-user-menu {
  display: flex;
  align-items: center;
  gap: 16px;
}

.page-phone {
  text-decoration: none;
  font-weight: 700;
  color: #2d3440;
}

.search-button {
  position: relative;
  display: block;
  border: none;
  padding: 0;
  cursor: pointer;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 27px;
  width: 32px;
  height: 32px;
}

.search-button::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  width: 16px;
  height: 16px;
  mask: url("../images/icons/search.svg");
  -webkit-mask: url("../images/icons/search.svg");
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  background-color: #2d3440;
}

.search-form {
  top: calc(100% + 8px);
  right: 0;
  width: 356px;
  padding: 24px 16px;
}

.search-form-container {
  position: relative;
}

.search-input {
  appearance: none;
  width: 100%;
  padding: 13px 45px 13px 15px;
}

.search-reset-button {
  display: none;
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-image: url("../images/icons/cross.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.search-input:not(:placeholder-shown) + .search-reset-button {
  display: block;
}

.login-button {
  position: relative;
  border: none;
  cursor: pointer;
  padding: 6px 16px 6px 38px;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 30px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
}

.login-button::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 16px;
  width: 16px;
  height: 16px;
  mask: url("../images/icons/login.svg");
  -webkit-mask: url("../images/icons/login.svg");
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  background-color: #2d3440;
}

.login-content-container {
  right: 0;
  top: calc(100% + 8px);
  width: 480px;
  padding: 48px 48px 52px 48px;
}

.login-title {
  display: block;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2d3440;
  margin-bottom: 32px;
}

.login-form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.login-label {
  width: 100%;
  margin-bottom: 16px;
}

.login-label:last-of-type {
  margin-bottom: 32px;
}

.button-login {
  margin-right: 23px;
}

.login-input {
  width: 100%;
}

.login-links-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.login-link {
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  text-underline-offset: 4px;
}

.cart-button {
  position: relative;
  border: none;
  cursor: pointer;
  padding: 6px 16px 6px 38px;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 30px;
}

.cart-button::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 16px;
  width: 16px;
  height: 16px;
  mask: url("../images/icons/cart.svg");
  -webkit-mask: url("../images/icons/cart.svg");
  background-color: #2d3440;
}

.cart-button::after {
  content: attr(data-counter);
  display: block;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
}

.cart-content {
  width: 441px;
  padding: 48px;
  top: calc(100% + 8px);
  right: 0;
}

.cart-title {
  display: block;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 32px;
  color: #2d3440;
}

.cart-products {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 31px;
  border-bottom: 1px solid #e7e7e7;
}

.cart-product {
  display: flex;
  align-items: center;
}

.cart-product-image {
  width: 46px;
  height: 46px;
  margin-right: 16px;
}

.cart-product-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  max-width: 150px;
}

.cart-product-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #2d3440;
  transition: opacity .3s ease;
}

.cart-product-link:hover {
  opacity: 0.6;
}

.cart-product-link:active {
  opacity: 0.3;
}

.cart-product-link:focus-visible {
  outline: 2px solid #2d3440;
}

.cart-product-price {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #2d3440;
  margin-left: auto;
}

.cart-product-button {
  cursor: pointer;
  padding: 0;
  border: none;
  background-color: transparent;
  width: 30px;
  height: 30px;
  background-image: url("../images/icons/cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 40px;
  transition: opacity .3s ease;
}

.cart-product-button:hover {
  opacity: 0.6;
}

.cart-product-button:active {
  opacity: 0.3;
}

.cart-product-button:focus-visible {
  outline: 2px solid #2d3440;
}

.cart-product-button:disabled {
  opacity: 0.1;
  pointer-events: none;
}

.cart-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 32px;
}

/* МЭЙН */

.index-main {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

/* СЛАЙДЕР */

.slider-container {
  position: relative;
}

.slides {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.slide {
  padding: 21px 0 0 0;
  display: flex;
  align-items: center;
  gap: 24px;
  opacity: 0.4;
}

.slide.slide-current {
  opacity: 1;
  padding-left: 70px;
  order: -1;
}

.slide-current .slide-content {
  display: block;
}

.slide-current .slide-image-container::after {
  height: 312px;
}

.slide-current .slide-image {
  width: 327px;
  height: 507px;
}

.slide-content {
  display: none;
  max-width: 450px;
}

.slide-title {
  text-align: start;
  margin-bottom: 24px;
  font-size: 36px;
}

.slide-description {
  margin: 0 0 48px;
  font-size: 18px;
  line-height: 24px;
  color: #2d3440;
}

.slide-image-container {
  position: relative;
}

.slide-image-container::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 100px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: -1;
}

.slide-image {
  display: block;
  width: 100px;
  height: 150px;
}

.slide-buttons {
  position: absolute;
  left: 525px;
  top: 49%;
  width: 365px;
  display: flex;
  justify-content: space-between;
}

.slide-button {
  position: relative;
  cursor: pointer;
  padding: 0;
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #fcfcfc;
  border-radius: 26px;
  width: 38px;
  height: 38px;
  transition: all .2s ease;
}

.slide-button::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 9px;
  width: 17px;
  height: 16px;
  mask: url("../images/icons/arrow-right.svg");
  -webkit-mask: url("../images/icons/arrow-right.svg");
  background-color: #fcfcfc;
  transition: background-color .2s ease;
}

.slide-button:hover {
  background-color: #fcfcfc;
}

.slide-button:hover::before {
  background-color: #2d3440;
}

.slide-button:active {
  background-color: rgba(252, 252, 252, 0.5);
  border-color: rgba(252, 252, 252, 0.5);
}

.slide-button:active::before {
  background-color: #2d3440;
}

.slide-button:focus-visible {
  background-color: rgba(252, 252, 252, 0.3);
  border-color: #2d3440;
  outline: none;
}

.slide-button:focus-visible::before {
  background-color: #2d3440;
}

.slide-button:disabled {
  opacity: 0.4;
  pointer-events: none;
}

.slide-previous {
  transform: rotate(180deg);
}

.slider-footer {
  display: flex;
  justify-content: space-between;
}

.slider-pagination {
  display: flex;
  gap: 8px;
  align-items: flex-end;
}

.slider-pagination-button {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: rgba(252, 252, 252, 0.3);
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.slider-pagination-button-active {
  background-color: #fcfcfc;
}

.slider-pagination-button:hover {
  outline: 1px solid #fcfcfc;
}

.slider-pagination-button:active {
  outline: none;
  background-color: rgba(252, 252, 252, 0.5);
}

.slider-pagination-button:focus-visible {
  outline: 1px solid #2d3440;
}

/* ПРОМО БЛОК */

.promo-title {
  text-align: center;
  margin: 0 auto 55px;
  max-width: 450px;
}

.promo-cards {
  display: grid;
  grid-template-columns: repeat(2, 570px);
  gap: 30px;
}

.promo-card {
  background-color: #ff7799;
  border-radius: 16px;
  padding: 36px 230px 36px 36px;
  background-repeat: no-repeat;
  background-position: right center;
}

.promo-card-raspberry {
  background-image: url("../images/promo/raspberry.png");

}

.promo-card-marshmallow {
  background-image: url("../images/promo/marshmallow.png");
}

.promo-card-title {
  margin: 0 0 28px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2d3440;
}

.promo-card-description {
  color: #2d3440;
  margin: 0 0 28px;
}

/* ПОПУЛЯРНОЕ */

.popular-title {
  text-align: center;
  margin: 0 auto 56px;
  max-width: 550px;
}

.products {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, 270px);
  gap: 30px;
}

.product {
  position: relative;
  padding: 0 40px 24px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product::before {
  content: "";
  position: absolute;
  width: 100%;
  height: calc(100% - 51px);
  border-radius: 8px;
  background-color: #fcfcfc;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.product-image {
  border-radius: 50%;
  margin-bottom: 16px;
}

.product-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2d3440;
  margin-bottom: 8px;
}

.product-description {
  margin: 0 0 16px;
  text-align: center;
}

.product-bottom-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2d3440;
}

.product-button {
  position: relative;
  cursor: pointer;
  border: none;
  background-color: #ff2f64;
  padding: 0;
  width: 32px;
  height: 32px;
  border-radius: 26px;
  outline: 2px solid #ff2f64;
  outline-offset: -2px;
  transition: all .3s ease;
}

.product-button::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  width: 16px;
  height: 17px;
  mask: url("../images/icons/cart.svg");
  -webkit-mask: url("../images/icons/cart.svg");
  background-color: #fcfcfc;
  transition: all .3s ease;
}

.product-button:hover {
  background-color: rgba(252, 252, 252, 0.3);
}

.product-button:hover::before {
  background-color: #2d3440;
}

.product-button:active {
  background-color: #ffcbd8;
}

.product-button:active::before {
  background-color: #2d3440;
}

.product-button:focus-visible {
  outline-color: #2d3440;
}

.product-button:disabled {
  background-color: #b9b9b9;
  outline-color: #b9b9b9;
  pointer-events: none;
}

.product-button:disabled::before {
  background-color: #565c66;
}

/* ПРЕИМУЩЕСТВА */

.advantages {
  position: relative;
  z-index: 1;
  padding: 80px 64px;
  background-image: url("../images/advantages/waffle.jpg");
  background-size: cover;
  overflow: hidden;
  border-radius: 16px;
}

.advantages::before {
  content: "";
  position: absolute;
  width: calc(100% - 48px);
  height: calc(100% - 48px);
  border-radius: 16px;
  background-color: #ffffff;
  top: 24px;
  left: 24px;
  z-index: -1;
}

.advantages-title {
  text-align: center;
  margin-bottom: 56px;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 505px);
  gap: 40px 32px;
}

.advantage {
  padding-left: 64px;
  background-repeat: no-repeat;
  background-position: left top;
}

.advantage-icon-icecream {
  background-image: url("../images/advantages/ice-cream.svg");
}

.advantage-icon-quality {
  background-image: url("../images/advantages/leaf.svg");
}

.advantage-icon-farm {
  background-image: url("../images/advantages/farm.svg");
}

.advantage-icon-temperature {
  background-image: url("../images/advantages/temperature.svg");
}

/* БЛОК НОВОСТЕЙ И ПОДПИСКИ */

.sections-container {
  display: flex;
  gap: 30px;
}

.news {
  border-radius: 16px;
  padding: 32px 235px 67px 32px;
  background-image: url("../images/news/serving.jpg");
  overflow: hidden;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.news-text {
  line-height: 20px;
}

.news-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2d3440;
}

/* БЛОК ПОДПИСКИ */

.subscription {
  position: relative;
  z-index: 1;
  padding: 32px 32px 34px;
  background-image: url("../images/subscription/color-lines.jpg");
  background-size: cover;
  overflow: hidden;
  border-radius: 16px;
  max-width: 570px;
  display: flex;
  flex-direction: column;
  gap: 42px;
}

.subscription::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  background-color: #ffffff;
  border-radius: 16px;
  z-index: -1;
}

.subscription-text {
  margin: 0;
}

.subscription-form {
  display: flex;
  align-items: center;
  gap: 18px;
}

.subscription-label {
  flex-grow: 1;
}

.subscription-input {
  width: 100%;
}

/* БЛОК ДОСТАВКИ */

.delivery {
  padding: 64px 64px 64px 100px;
  background-image: url("../images/delivery/table.jpg");
  background-size: cover;
  overflow: hidden;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delivery-title {
  margin-bottom: 24px;
}

.delivery-description {
  margin: 0;
}

.delivery-text-container {
  max-width: 380px;
}

.delivery-form-container {
  max-width: 500px;
  padding: 40px 40px 42px 40px;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
  background-color: #fcfcfc;
}

.delivery-form-text {
  margin: 0 0 32px;
}

.delivery-form {
  display: flex;
  flex-direction: column;
}

.delivery-inputs-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
  gap: 16px;
  max-width: 420px;
}

.delivery-label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-weight: 700;
  line-height: 20px;
  color: #2d3440;
}

.delivery-phone {
  flex-grow: 1;
}

.delivery-date {
  max-width: 117px;
}

.delivery-button {
  align-self: center;
  margin-top: 32px;
}

.contacts {
  padding: 64px;
  border-radius: 16px;
  background-image: url("../images/contacts/ice-creams.jpg");
  background-size: cover;
  overflow: hidden;
}

.contacts-content {
  padding: 40px;
  background-color: #fcfcfc;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  max-width: 343px;
}

.contacts-text {
  max-width: 205px;
  margin-bottom: 12px;
}

.contacts-address {
  font-weight: 700;
  font-size: 20px;
  font-style: normal;
  line-height: 24px;
  color: #2d3440;
  margin-bottom: 24px;
}

.contacts-phone {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2d3440;
  text-decoration: none;
}

.contacts-schedule {
  margin-bottom: 32px;
}

/* ПОДВАЛ */

.footer {
  padding: 48px 0;
  display: flex;
}

.socials {
  display: flex;
  gap: 16px;
}

.social-link {
  position: relative;
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 24px;
  outline: 2px solid rgba(252, 252, 252, 0.3);
}

.social-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  background-color: #fcfcfc;
  border-radius: 50%;
  fill: none;
}

.social-telegram::before {
  mask: url("../images/icons/telegram.svg");
  -webkit-mask: url("../images/icons/telegram.svg");
}

.social-vkontakte::before {
  mask: url("../images/icons/vkontakte.svg");
  -webkit-mask: url("../images/icons/vkontakte.svg");
}

.social-youtube::before {
  mask: url("../images/icons/youtube.svg");
  -webkit-mask: url("../images/icons/youtube.svg");
}

.supplier-menu {
  margin: 0 auto;
  max-width: 356px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px 24px;
}

.supplier-menu-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  margin: 0;
  padding-left: 22px;
  background-image: url("../images/icons/heart.svg");
  background-repeat: no-repeat;
  background-position: left top 2px;
}

.supplier-menu-link {
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
}

.footer-right-column {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.footer-right-column-text {
  font-size: 12px;
  line-height: 16px;
  color: #2d3440;
}

.footer-right-column-text a {
  color: inherit;
  text-underline-offset: 3px;
}

/* МОДАЛЬНОЕ ОКНО */

.modal-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background-color: rgba(45, 52, 64, 0.3);
}

.modal {
  position: relative;
  width: 570px;
  margin: auto;
  padding: 64px 64px 66px 64px;
  background-color: #fcfcfc;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
}

.modal-close-button {
  position: absolute;
  top: 32px;
  right: 32px;
  cursor: pointer;
  padding: 0;
  border: none;
  background-color: transparent;
  width: 30px;
  height: 30px;
  background-image: url("../images/icons/cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity .3s ease;
}

.modal-close-button:hover {
  opacity: 0.6;
}

.modal-close-button:active {
  opacity: 0.3;
}

.modal-close-button:focus-visible {
  outline: 2px solid #2d3440;
}

.modal-close-button:disabled {
  opacity: 0.1;
  pointer-events: none;
}

.modal-title {
  display: block;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2d3440;
  margin: 0 0 32px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-label {
  margin-bottom: 16px;
}

.modal-label:last-of-type {
  margin-bottom: 32px;
}

.modal-input {
  width: 100%;
}

.modal-textarea {
  display: block;
  resize: none;
  height: 149px;
  width: 100%;
}

.modal-button {
  align-self: flex-end;
}

/* КАТАЛОГ */

.breadcrumbs {
  padding-top: 32px;
}

.breadcrumbs-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px 0;
  margin-bottom: 16px;
}

.breadcrumbs-item:not(:last-child) {
  padding-right: 28px;
  background-image: url("../images/icons/two-arrows-right.svg");
  background-repeat: no-repeat;
  background-position: right 8px center;
}

.breadcrumbs-item-link {
  display: block;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
}

.breadcrumbs-item-link-current {
  text-decoration: underline;
  text-underline-offset: 4px;
}

/* ФИЛЬТР */

.filter {
  padding: 40px 0 22px;
}

.filter-form {
  max-width: 825px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px 24px;
}

.filter-container {
  margin: 0;
  padding: 0;
  border: none;
}

.filter-container-title {
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  margin-bottom: 8px;
}

.filter-select {
  border: none;
  appearance: none;
  cursor: pointer;
  padding: 8px 35px 8px 16px;
  border-radius: 20px;
  background-color: rgba(252, 252, 252, 0.3);
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  background-image: url("../images/icons/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 13px center;
  transition: background-color .2s ease;
}

.filter-select:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.filter-select:focus {
  outline: 2px solid #fcfcfc;
  background-color: rgba(252, 252, 252, 0.4);
}

.range {
  position: relative;
  border-radius: 20px;
  background-color: rgba(252, 252, 252, 0.3);
  padding: 17px 16px;
}

.range-scale {
  position: relative;
  width: 164px;
  height: 2px;
  background-color: rgba(86, 92, 102, 0.3);
  border-radius: 2px;
}

.range-scale::before {
  content: "";
  position: absolute;
  top: 0;
  left: 20px;
  right: 50px;
  height: 2px;
  background-color: #565c66;
}

.range-toggle {
  position: absolute;
  top: 10px;
  border: 6px solid #2d3440;
  padding: 0;
  cursor: pointer;
  width: 16px;
  height: 16px;
  background-color: #fcfcfc;
  border-radius: 50%;
}

.filter-list {
  margin: 0;
  padding: 8px 24px;
  list-style: none;
  display: flex;
  gap: 16px;
  background: rgba(252, 252, 252, 0.3);
  border-radius: 18px;
}

.control {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
}

.control-mark {
  position: relative;
}

.control-mark::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border: 2px solid #2d3440;
  border-radius: 50%;
}

.input-radio:checked + .control-mark::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 6px;
  height: 6px;
  background-color: #2d3440;
  border-radius: 50%;
}

.input-checkbox + .control-mark::before {
  border-radius: 3px;
}

.filter-form-button {
  cursor: pointer;
  border: 2px solid #fcfcfc;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 20px;
  padding: 8px 52px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  align-self: flex-end;
}

.filter-form-button:hover {
  background-color: #fcfcfc;
  border-color: rgba(252, 252, 252, 0.3);
}

.filter-form-button:active {
  background-color: rgba(252, 252, 252, 0.5);
  border-color: transparent;
}

.filter-form-button:focus-visible {
  background-color: rgba(252, 252, 252, 0.3);
  border-color: #2d3440;
  outline: none;
}

.filter-form-button:disabled {
  opacity: 0.4;
  pointer-events: none;
}

/* ТОВАРЫ */

.products-section {
  padding: 22px 0 40px;
  border-bottom: 1px solid rgba(252, 252, 252, 0.3);
}

/* ПАГИНАЦИЯ */

.pagination {
  padding: 57px 0 41px;
  display: flex;
  gap: 20px 335px;
  justify-content: flex-end;
}

.pagination-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.pagination-item-previous {
  margin-right: 8px;
}

.pagination-item-next {
  margin-left: 8px;
}

.pagination-previous,
.pagination-next {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
}

.pagination-previous {
  transform: rotate(180deg);
}

.pagination-previous::before,
.pagination-next::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 17px;
  height: 16px;
  mask: url("../images/icons/arrow-right.svg");
  -webkit-mask: url("../images/icons/arrow-right.svg");
  background-color: #2d3440;
}


.pagination-link {
  display: block;
  width: 24px;
  padding: 2px 0;
  text-align: center;
  text-decoration: none;
  line-height: 20px;
  color: #2d3440;
  border-radius: 50px;
  transition: background-color .3s ease;
}

.pagination-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.pagination-link:active {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 1px solid #fcfcfc;
  outline-offset: -1px;
}

.pagination-link:focus-visible {
  background-color: rgba(252, 252, 252, 0.3);;
  outline: 1px solid #2d3440;
  outline-offset: -1px;
}

.pagination-link-active {
  background-color: #fcfcfc;
  pointer-events: none;
}

.hidden {
  display: none;
}
